# Зависимости
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# Компилирани файлове
css/tailwind/output.css

# Системни файлове
.DS_Store
Thumbs.db
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Редактори
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Логове
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Други
dist/
build/
.cache/
.tmp/
temp/
